main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "ab ab"
    "sh sh"
    "da da";
  width: 70vw;
  min-height: 52rem;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

@media (min-width: 992px) {
  main {
    min-height: 40rem;
    grid-template-areas:
      "ab sh"
      "da da";
    gap: 1rem;
    }
}

/* Section styles */
.main-about {
  grid-area: ab;
  min-height: 12rem;
  width: 100%;
}

.main-open {
  grid-area: sh;
  min-height: 12rem;
  width: 100%;
}

.main-open__schedule-list-item {
  list-style: none;
}

.main-daily {
  grid-area: da;
  min-height: 24rem;
  width: 100%;
  overflow: hidden;
}

.main-about h2,
.main-daily h2,
.main-open h2 {
  display: inline-block;
  margin: var(--header-margin-def);
  border-bottom: 1px solid var(--primary-text-color);
}

.main-about p,
.main-daily p,
.main-open p {
  margin-left: .5rem;
}

.main-daily img {
  max-height: 13rem;
  margin-top: 1rem;
  box-shadow: 3px 5px 5px rgba(0,0,0,.3);
}

@media (min-width: 480px) {
  main {
    min-height: 34rem;
  }

  .main-about {
    min-height: 8rem;
  }

  .main-open {
    min-height: 8rem;
  }

  .main-daily {
    min-height: 16rem;
  }
}

@media (min-width: 992px) {
  main {
    width: 90%;
  }

  .main-about {
    min-height: 6rem;
  }

  .main-open {
    min-height: 6rem;
  }

  .main-daily {
    min-height: 12rem;
  }
}